@media screen and (max-width:1200px) {
    .navbar-nav li a{
        font-size: 12px;
    }
}

@media screen and (max-width:991px) {
    .navbar-nav li a{
        font-size: 16px;
        padding: 0px;
    }

    .banner{
        transform: translateY(0px);
    }
    .banner_img{
        margin-top: 30px;
    }

    .tikfly_info h2{
        font-size: 38px;
        line-height: 40px;       
    }
    .footer_menu li{
        width: 100%;
       
    }

    .footer_m_btn{
        justify-content: start;
    }
    .footer_m_btn a{
        margin: 0 0px 20px 0;
    }
    .innder_header p {
        width: 100%;
    }

    .number_box{
        margin: 20px auto;
    }
    .middle{
        margin: 20px auto;
    }
    .touch_info h2{
        text-align: center;
    }
}

@media screen and (max-width:768px){
    .tikfly_info h2{
        font-size: 32px;
        line-height: 30px;       
    }
    .innder_header h2 {
        font-family: 'Euclid Flex';
        font-size: 40px;
        line-height: 44px;
    }
    .innder_header p {
        font-size: 18px;
        line-height: 20px;
        width: 100%;
    }
}


@media screen and (max-width:480px){

    .innder_header h2 {
        font-size: 30px;
        line-height: 34px;
    }
    .real_menu a{
        font-size: 14px;
    }
    
    .real_menu a i{
        font-size: 12px;
    }
    .innder_header p {
        font-size: 14px;
        line-height: 18px;
    }
}