@media screen and (max-width:1200px) {
    .navbar-nav li a{
        font-size: 12px;
    }
}

@media screen and (max-width:991px) {
    .navbar-nav li a{
        font-size: 16px;
        padding: 0px;
    }

    .banner{
        transform: translateY(0px);
    }
    .banner_img{
        margin-top: 30px;
    }

    .tikfly_info h2{
        font-size: 38px;
        line-height: 40px;       
    }
    .footer_menu li{
        width: 100%;
       
    }

    .footer_m_btn{
        justify-content: start;
    }
    .footer_m_btn a{
        margin: 0 0px 20px 0;
}

@media screen and (max-width:768px){
    .tikfly_info h2{
        font-size: 32px;
        line-height: 30px;       
    }
}