@import url('../fonts/EuclidFlexLight.ttf');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* TopBar styleing now */

.bg{
    background-color: #fffffffd;
}
.navbar-nav li{
    margin: 0 7px;
}
.nav-link{
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 44px;
    color: #434343;
}
.nav-link:hover{
    color: #434343; 
}

.nav-link i{
    color: #434343; 
    margin-right: 3px;
}


/* melli banner section start now */
.banner{
    width: 100%;
    background-image:url('../images/logo/banner.png');
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(-75px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.banner_info h2{
    font-family: 'Euclid Flex';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    color: #434343;
    margin-top: 10px;
}

.banner_info p{
    font-family: 'Euclid Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #434343;
    margin-top: 10px;
}

.banner_btn{
    display: flex;
    flex-direction: column;

}
.banner_btn a{
    background: linear-gradient(180deg, #FF808A 0%, #FE324F 100%);
    box-shadow: 0px 10px 30px rgba(228, 1, 61, 0.5);
    border-radius: 5px;
    font-family: 'Euclid Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    padding: 3px 30px;
    margin: 10px 0 ; 
    height: 43.53px;
}

.banner_btn a:nth-child(1){
    width: 200px;
}
.banner_btn a:nth-child(2){
    width: 250px;
}
.banner_btn a:nth-child(3){
    width: 213.93px
}

.banner_img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_img img{
    max-width: 450px;
    width: 100%;
    margin-top: 20px;
}

/* tikfly section start now */
.tikfly{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px 0;
}

.tikfly_info h2{
    font-family: 'Euclid Flex';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    text-align: center;
    color: #434343;
}

.tikfly_info h2 span{
    font-weight: 400;
}


.single_img{
    background-image: url('../images/scral.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}
.single_img img{
    max-width: 450px;
    width: 100%;

}

/* tikfly section End */






















/* footer section start now */

footer{
    background: rgba(255, 176, 181, 0.25);
    padding: 50px 0;
}

footer hr{
    background: rgba(0, 0, 0, 0.5);
}

.widget_left img {
    padding: 10px 0;
}

.widget_left p{
    font-family: 'Euclid Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    text-transform: capitalize;
    color: #434343;
    width: 55%;
    
}
.widget_right h5{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #000000;
}
.footer_menu{
    margin: 0px;
    padding: 0px;
}
.footer_menu li{
    width: 47%;
    display: inline-block;
}

.footer_menu li a{
    color: #000000;
}

/* main footer section start now */
.main_footer{
    padding: 20px 0px;
}

.footer_m_btn{
    display:flex;
    align-items: center;
    justify-content: center;
}

.copy_right p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
}
.footer_m_btn a{
    margin: 0 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
}

/* malli section start now */
.tikfly .card{
    border: none !important;
}
.melli_card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.melli_card img{
    width: 118px;
    height: 103px;
}

.melli_card h5{
    font-family: 'Euclid Flex';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;   
    color: #434343;
    margin-top: 10px;
}

.melli_card p{
    font-family: 'Euclid Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    color: #434343;
    margin-top: 10px;
}
/* Grow Section styleing Start Now */
.grow{
    background: rgba(255, 176, 181, 0.32);
    padding: 80px 0;
}
.card{
    background: #FFFFFF;
    box-shadow: 0px 5px 20px 5px rgba(255, 176, 181, 0.32);
    border-radius: 15px;
    text-align: center;
    margin-top: 30px;
}

.grow_head h2{
    font-family: 'Euclid Flex';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    text-align: center;
    color: #434343;
}
.grow_head p{
    font-family: 'Euclid Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 35px;
    color: #434343;
    text-align: left;
}

.grow_info{
    margin: 50px 0px;
}

.grow_info i{
    font-size: 30px;
    color:#434343;
    text-align: center;
}

.grow_info h5{
    font-family: 'Euclid Flex';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    color: #434343;
    text-align: left;
    margin-top: 10px;
}

.grow_info p{
    font-family: 'Euclid Flex';
    font-style: normal;
    font-weight: 275;
    font-size: 20px;
    line-height: 35px;
    color: #434343;
    text-align: left;
    margin-top: 10px;
}

.grow_info a{
    font-family: 'Euclid Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 35px;
    color: #FFFFFF;
    background: linear-gradient(0deg, #FB2F4D 0%, rgba(242, 42, 69, 0.66) 100%);
    box-shadow: 0px 0px 10px rgba(242, 42, 69, 0.75);
    border-radius: 15px;
    padding: 6px 20px;
}


/* touch sectuion start now */
.touch{
    padding: 100px 0;
}
.touch_left_img{
   
    position: relative;
}

.touch_left_img > img{
    display: block;
    position: absolute;
    top:0px;
    left: 0px;
    background-repeat: no-repeat;
    transform: translateX(-300px);
}
.touch_info{
    margin-top: 100px;
}

.touch_info h2{
    font-family: 'Euclid Flex';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    color: #434343; 
}

.touch_info p{
    font-family: 'Euclid Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 35px;
    color: #434343;
}
.touch_menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.touch_menu li{
    margin: 0 10px;
}

.touch_menu li a i{
    margin-top: 10px;
    padding: 12px;
    border: 1px solid #434343;
    border-radius: 50px;
    color:#434343;
}
.touch_info_right h4{
    font-family: 'Euclid Flex';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #434343;
}

.touch_info_right p{
    font-family: 'Euclid Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 35px;
    color: #434343;
}

.user_form{
    margin-top: 30px;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px 5px rgba(255, 176, 181, 0.32);
    border-radius: 10px;
    padding: 10px 20px 40px;
}
.user_form a{
    display: block;
    width: 100%;
    background: linear-gradient(180deg, #FF808A 0%, #FE324F 100%);
    border-radius: 10px 10px 0px 0px;
    margin: 10px 0;
    border:none;
    padding: 10px;
    text-align: center;
    font-family: 'Euclid Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}

.user_form input{
    display: block;
    width: 100%;
    background: rgba(255, 176, 181, 0.25);
    border-radius: 10px;
    font-family: 'Euclid Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #434343;
    margin: 10px 0;
    border:none;
    padding: 10px;
}

.user_form input:last-child{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: linear-gradient(180deg, #FF808A 0%, #FE324F 100%);
    box-shadow: 0px 10px 30px rgba(228, 1, 61, 0.5);
    border-radius: 5px;

}

.user_form textarea{
    display: block;
    width: 100%;
    background: rgba(255, 176, 181, 0.25);
    border-radius: 10px;
    font-family: 'Euclid Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #434343;
    margin: 10px 0;
    border:none;
    padding: 10px;
}

/* row section two start now */
.innder_header{
    padding: 100px 0;
}
.innder_header h2{
    
    font-family: 'Euclid Flex';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    color: #434343;
    text-align: center;
}

.innder_header p{
    font-family: 'Euclid Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    color: #434343;
    width: 63%;
    margin: auto;
}

.real_menu{
    max-width: 486px;
    width: 100%;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px 5px rgba(255, 176, 181, 0.32);
    border-radius: 30px;
    margin: 20px auto;
    padding: 0px;
}

.real_menu a{
    
    font-family: 'Euclid Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    color: #FF808A;
    margin: 0 5px;
    padding: 3px 8px;
}

.real_menu .active{
    background: linear-gradient(0deg, #FB2F4D 0%, rgba(242, 42, 69, 0.66) 100%);
    box-shadow: 0px 0px 10px rgba(242, 42, 69, 0.75);
    border-radius: 30px;
    color: #fff;
}

.real_menu a i{
    font-size: 16px;
}


.meill_card h5{
    font-family: 'Euclid Flex';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 50px;
    color: #434343;
}

.meill_card p{
    font-family: 'Euclid Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #434343;
    text-align: left;
}
.card_img{
    max-width: 302px;
    width:100%;
    height: 214px;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px 5px rgba(255, 176, 181, 0.32);
    border-radius: 25px;
    margin: 10px 0; 
    display: flex;
    align-items: center;
    justify-content: center;
}

/* pros section start now */
.pros{
    padding: 0px 0px 100px 0;
}
.number_box{
    max-width: 391px;
    width: 100%;
    height: 350px;
    background: rgba(255, 176, 181, 0.15);
    box-shadow: 0px 5px 20px 5px rgba(255, 176, 181, 0.32);
    border-radius: 25px;
    padding: 20px 30px;
    text-align: center;
    margin: 30px 0 40px 0; 
}
.middle{
    max-width: 391px;
    width: 100%;
    height: 350px;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px 5px rgba(255, 176, 181, 0.32);
    border-radius: 25px;
    padding: 20px 30px;
    text-align: center;
    margin: 20px 0; 
}

.number_box h3{
    font-family: 'Euclid Flex';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 50px;
    color: #434343;
    width: 70px;
    height: 55px;
    background: rgba(255, 176, 181, 0.32);
    margin: 0 auto;
    border-radius:48% 52% 5% 95% / 47% 24% 76% 53% ;
}

.number_box p{
    font-family: 'Euclid Flex';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    text-transform: capitalize;
    color: #434343;
    text-align: left;
}
